div{
    height: 200px;
    width: 500px;
    background-color: pink;
    border-width: 5px;
    border-style: double;
    border-color: black;
    padding-right: 15px;
    margin-bottom: 25px;
}
h1{
    border-width: 2px;
    border-style: dotted;
    border-color: purple;
}
button{
    border:2px dotted magenta;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
*{
    border-left:5px groove blue;
    border-right: 5px groove red ;
    border-top: 5px groove green;
    border-bottom: 5px groove yellow;
    border-top-right-radius: 20px;
}