#main{
    background-color: yellow;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
#eyes1{
    background-color: black;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    top: 75px;
    left: 75px;
    border-radius: 50%;
    
}
#eyes2{
    background-color: black;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    top: 75px;
    left: 100px;
    border-radius: 50%;
}
#box{
    background-color: maroon;
    height: 50px;
    width: 200px;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35% ;
    position: absolute;
    top:250px;
    left: 100px;
}